<%- include('header') %> <!-- ejs syntax - include header -->

    <div class="container"> 
        <div>
            <a href="/add-user">
                <span class="">New User</span>
            </a>
        </div>

        <form action="/" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </form>
    </div>

<%- include('footer') %> <!-- include footer -->