<!-- This .html file contains dummy data and was
     used in connection with the Live Server extension 
     before the transition to .ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCN webshop</title>

    <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                        <h1>Available Products</h1>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div>
            <a href="/views/add_product.html">
                <button class="btn">Add new product</button>
            </a>
        </div>

        <form action="/" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>TestProduct</td>
                        <td>Men</td>
                        <td>1000 dkk</td>
                        <td>In Stock</td>
                        <td>
                            <a href="#">
                                <button>Update</button>
                            </a>
                            <button class="btn-delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

</html>