<%- include('header') %> <!-- ejs syntax - include header -->

    <div class="container">
        <div>
            <a href="/views/add_product.html">
                <button class="btn">Add new product</button>
            </a>
        </div>
    
        <form action="/" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>TestProduct</td>
                        <td>Men</td>
                        <td>1000 dkk</td>
                        <td>In Stock</td>
                        <td>
                            <a href="#">
                                <button>Update</button>
                            </a>
                            <button class="btn-delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

<%- include('footer') %>